.about-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.pages-list .pages-list-item .page-link, .pages-list .pages-list-item .page-link::after, .pages-list .pages-list-item .page-link::before {
  position: relative;
  display: block; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  background: black;
  font-family: 'Bebas Neue', sans-serif; }
  @media (min-width: 768px) {
    body {
      font-size: 21px; } }
  @media (min-width: 1440px) {
    body {
      font-size: 24px; } }

img {
  max-width: 100%;
  height: auto; }

.list {
  list-style: none; }

.link {
  text-decoration: none;
  color: #000000; }

.p {
  margin: 0; }

.none {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s opacity, 1s visibility;
  transition: 1s opacity, 1s visibility; }

.block {
  opacity: 1;
  visibility: visible; }

.main {
  position: relative; }

.index-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 750px;
  padding: 20px 10px; }
  @media (min-width: 1440px) {
    .index-header {
      height: 850px;
      padding: 0; } }
  .index-header .header-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    -o-object-fit: none;
       object-fit: none; }
    @media (min-width: 1440px) {
      .index-header .header-img {
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); } }

.info-header {
  height: 90px; }
  @media (min-width: 1440px) {
    .info-header {
      height: 180px; } }

.header-headline {
  display: block;
  text-align: left;
  width: 230px;
  height: 60px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 40px;
  color: #ffffff; }
  @media (min-width: 1440px) {
    .header-headline {
      width: 500px;
      margin: 50px 0 0 50px;
      font-weight: 700;
      font-size: 60px; } }
  .header-headline:hover {
    text-shadow: 6px 6px 0 #116315; }

.menu {
  position: relative;
  display: block;
  z-index: 10;
  width: 40px;
  height: 40px;
  margin: 30px 0 0 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .menu:hover {
    cursor: pointer; }
  @media (min-width: 1440px) {
    .menu {
      display: none; } }

.hambergerIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 4px;
  border-radius: 50px;
  background-color: #ffffff;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg); }
  .hambergerIcon::before, .hambergerIcon::after {
    position: absolute;
    content: "";
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
    margin: auto;
    width: 50%;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s; }
  .hambergerIcon::before {
    top: -10px;
    left: 0;
    -webkit-transform-origin: left;
            transform-origin: left; }
  .hambergerIcon::after {
    bottom: -10px;
    right: 0;
    -webkit-transform-origin: right;
            transform-origin: right; }

.open {
  background-color: #000000;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg); }
  .open::before {
    top: 0;
    -webkit-transform: translateX(100%) rotate(-90deg);
            transform: translateX(100%) rotate(-90deg); }
  .open::after {
    bottom: 0;
    -webkit-transform: translateX(-100%) rotate(-90deg);
            transform: translateX(-100%) rotate(-90deg); }

.pages-list {
  position: fixed;
  top: 0;
  left: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 80%;
  height: 100%;
  margin: 0;
  padding: 100px 0;
  background-color: #ffffff; }
  @media (min-width: 1440px) {
    .pages-list {
      position: static;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 600px;
      height: 50px;
      margin: 60px 50px 0 50px;
      -webkit-transform: translateX(0);
              transform: translateX(0);
      padding: 0;
      opacity: 1;
      visibility: visible;
      background-color: inherit; } }
  .pages-list .pages-list-item {
    width: 170px;
    height: 55px;
    margin: 0 auto 10px auto;
    text-align: center; }
    @media (min-width: 1440px) {
      .pages-list .pages-list-item {
        width: 180px; }
        .pages-list .pages-list-item:first-of-type {
          display: none; } }
    .pages-list .pages-list-item .page-link {
      width: 100%;
      max-width: 170px;
      color: #000000;
      font-size: 20px;
      cursor: pointer;
      line-height: 45px;
      text-align: center;
      letter-spacing: 0;
      vertical-align: middle;
      text-transform: uppercase;
      -webkit-box-sizing: inherit;
              box-sizing: inherit;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: .6s;
              transition-duration: .6s;
      -webkit-transition-timing-function: ease;
              transition-timing-function: ease; }
      @media (min-width: 1440px) {
        .pages-list .pages-list-item .page-link {
          max-width: 180px;
          color: #ffffff; } }
      .pages-list .pages-list-item .page-link:active {
        letter-spacing: 5px; }
      .pages-list .pages-list-item .page-link::after, .pages-list .pages-list-item .page-link::before {
        content: " ";
        width: 0;
        margin: 0 auto;
        bottom: 0;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        border: 1px solid #ffffff;
        -webkit-transition: all 280ms ease-in-out;
        transition: all 280ms ease-in-out; }
        @media (min-width: 1440px) {
          .pages-list .pages-list-item .page-link::after, .pages-list .pages-list-item .page-link::before {
            border: 1px solid #000000; } }
      .pages-list .pages-list-item .page-link:hover::after, .pages-list .pages-list-item .page-link:hover::before {
        width: 70%;
        border-color: #116315;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-transition: width 350ms ease-in-out;
        transition: width 350ms ease-in-out; }
      .pages-list .pages-list-item .page-link:hover::before {
        bottom: auto;
        top: 0;
        width: 70%; }
    .pages-list .pages-list-item .active-page {
      color: #116315; }
      .pages-list .pages-list-item .active-page::after, .pages-list .pages-list-item .active-page::before {
        width: 70%;
        border-color: #116315; }

.index-main {
  display: none; }
  @media (min-width: 1440px) {
    .index-main {
      display: block;
      margin: 50px 0 100px 0;
      background-color: #000000; } }

.text {
  color: #ffffff; }

.repertoire-main {
  width: 320px;
  margin: 0 auto 80px auto;
  padding: 0 25px; }
  @media (min-width: 1440px) {
    .repertoire-main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 1300px;
      margin-top: 30px; } }

.compositions-list {
  margin: 60px 0;
  padding: 0;
  color: #ffffff; }
  @media (min-width: 1440px) {
    .compositions-list {
      width: 560px; } }
  .compositions-list .compositions-list-item {
    list-style-type: circle;
    margin-bottom: 20px; }
    .compositions-list .compositions-list-item span {
      display: none; }
    .compositions-list .compositions-list-item .composition-link {
      color: #ffffff;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease; }
    .compositions-list .compositions-list-item:hover .composition-link {
      color: #116315; }
    .compositions-list .compositions-list-item::-moz-list-number {
      color: #ffffff; }

.iframes-list {
  margin: 0;
  padding: 0; }
  .iframes-list iframe {
    width: 270px; }
  .iframes-list .iframes-list-item {
    margin-bottom: 15px; }
  @media (min-width: 1440px) {
    .iframes-list {
      display: block; }
      .iframes-list .iframes-list-item {
        margin-bottom: 15px; }
        .iframes-list .iframes-list-item iframe {
          width: 560px;
          height: 315px; } }

.about-main {
  margin: 50px 0;
  color: #ffffff; }

.texts-list {
  padding: 10px 15px; }
  @media (min-width: 768px) {
    .texts-list {
      margin-top: 0;
      padding: 0 30px; } }
  @media (min-width: 1440px) {
    .texts-list {
      width: 1300px;
      margin: 0 auto;
      padding: 0; } }
  .texts-list .text {
    margin: 0;
    text-indent: 20px; }
    @media (min-width: 1440px) {
      .texts-list .text {
        text-indent: 40px; } }
  .texts-list .texts-list-item:nth-of-type(7) {
    margin-top: 20px; }
  .texts-list .texts-list-item:nth-of-type(n + 7) .text {
    text-indent: 0; }

.index-footer {
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 3px solid #116315; }
  @media (min-width: 1440px) {
    .index-footer {
      padding: 40px 0; } }
  .index-footer .footer-wrapper {
    width: 320px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .index-footer .footer-wrapper {
        width: 768px; } }
    @media (min-width: 1440px) {
      .index-footer .footer-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 1440px;
        padding: 0 70px; } }
    .index-footer .footer-wrapper .footer-headline {
      display: block;
      margin: 0 auto 15px auto;
      font-size: 30px; }
      @media (min-width: 1440px) {
        .index-footer .footer-wrapper .footer-headline {
          margin: 0;
          padding-top: 15px;
          font-size: 35px; } }
    .index-footer .footer-wrapper .pages-list {
      margin: 0; }
      @media (min-width: 1440px) {
        .index-footer .footer-wrapper .pages-list {
          margin-top: 10px; }
          .index-footer .footer-wrapper .pages-list .pages-list-item {
            margin: 0; } }

.audio-main {
  margin: 80px 0; }
  @media (min-width: 1440px) {
    .audio-main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 1300px;
      height: 500px;
      margin: 50px auto 100px auto; } }

.audios-list {
  width: 300px;
  margin: 0 auto 80px auto;
  color: #ffffff; }
  @media (min-width: 1440px) {
    .audios-list {
      width: 350px;
      margin: 90px 0 0 0; } }
  .audios-list .audios-list-item {
    margin-bottom: 20px; }
    .audios-list .audios-list-item .audio-link {
      color: inherit;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease; }
    .audios-list .audios-list-item:hover .audio-link {
      color: #116315; }

.audio-img-link {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease; }
  @media (min-width: 1440px) {
    .audio-img-link {
      width: 500px;
      height: 500px;
      margin: 0; } }
  .audio-img-link:hover {
    -webkit-box-shadow: 0 0 30px #ffffff;
            box-shadow: 0 0 30px #ffffff; }
  .audio-img-link img {
    width: 300px;
    height: 300px; }
    @media (min-width: 1440px) {
      .audio-img-link img {
        width: 500px;
        height: 500px; } }

/*# sourceMappingURL=style.css.map */
