.audio-header {

}

.audio-main {
  margin: 80px 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    height: 500px;
    margin: 50px auto 100px auto;
  }
}

.audios-list {
  width: 300px;
  margin: 0 auto 80px auto;
  color: $color-white;

  @media (min-width: $desktop-width) {
    width: 350px;
    margin: 90px 0 0 0;
  }

  .audios-list-item {
    margin-bottom: 20px;

    .audio-link {
      color: inherit;
      transition: 0.5s ease;
    }

    &:hover .audio-link {
      color: $bg-green;
    }
  }
}

.audio-img-link {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  transition: 0.5s ease;

    @media (min-width: $desktop-width) {
      width: 500px;
      height: 500px;
      margin: 0;
    }

  &:hover {
    box-shadow: 0 0 30px $color-white;
  }

  img {
    width: 300px;
    height: 300px;

    @media (min-width: $desktop-width) {
      width: 500px;
      height: 500px;
    }
  }
}
