.main {
  margin: 15px auto 0 auto;

  @media (min-width: $tablet-width) {
    margin: 30px auto 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 50px auto 0 auto;
  }
}

.index-header {
  @extend %flex-wrap-space;
  width: 320px;

  margin: 20px auto 0 auto;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0 25px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 70px;
    margin: 0 auto;
  }
}

.header-headline {
  margin: 0 auto;
  transition: 0.5s ease;

  font-size: 40px;
  color: $color-white;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    margin: 0 auto 10px auto;
  }

  @media (min-width: $desktop-width) {
    width: 438px;
    margin: 0;
    font-weight: 700;
    font-size: 60px;
  }

  &:hover {
    text-shadow: 6px 6px 0 $bg-green;
  }
}

.pages-list {
  @extend %flex-wrap-space;
  margin: 10px auto 10px auto;
  padding: 0;

  @media (min-width: $desktop-width) {
    margin: 10px 0 0 0;
  }

  .pages-list-item {
    width: 170px;
    height: 55px;
    margin: 0 auto;
    text-align: center;

    @media (min-width: $desktop-width) {
      width: 180px;
    }

    .page-link {
      @extend %rel-block;
      width: 100%;
      max-width: 180px;
      color: $color-white;
      font-size: 20px;
      cursor: pointer;
      line-height: 45px;
      text-align: center;
      letter-spacing: 0;
      vertical-align: middle;
      text-transform: uppercase;
      box-sizing: inherit;
      transition-property: all;
      transition-duration: .6s;
      transition-timing-function: ease;

      &:active {
        letter-spacing: 5px;
      }

      &::after,
      &::before {
        @extend %rel-block;
        content: " ";
        width: 0;
        margin: 0 auto;

        bottom: 0;
        backface-visibility: hidden;
        border: 1px solid $color-black;
        transition: all 280ms ease-in-out;
      }

      &:hover::after,
      &:hover::before {
        width: 70%;
        border-color: $bg-green;
        backface-visibility: hidden;
        transition: width 350ms ease-in-out;
      }

      &:hover::before {
        bottom: auto;
        top: 0;
        width: 70%;
      }
    }
  }
}

.index-main {
  @extend %flex-wrap;
  color: $color-white;

  .persons-list {
    @extend %flex-wrap-space;
    position: relative;
    width: 320px;

    margin: 70% auto 0 auto;
    padding: 0 10px;

    @media (min-width: $tablet-width) {
      width: 600px;
      padding: 0;
      margin: 30px auto 0 auto;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      margin: 200px 70px 670px 70px;
      padding: 0;
    }

    &::after {
      @extend %abs-content;
      width: 2px;
      height: 160px;

      top: -170px;
      left: 219px;
      opacity: 0;
      background-color: $bg-green;

      @media (min-width: $desktop-width) {
        opacity: 1;
      }
    }

    .persons-list-item {
      position: relative;
      text-align: center;
      margin: 0 auto 20px auto;

      &:last-of-type {
        margin-bottom: 0;
      }

      @media (min-width: $tablet-width) {
        margin: 0 0 30px 0;

        &:first-of-type {
            width: 100%;
        }
        &:nth-of-type(n + 2) {
          width: 260px;
          margin: 0;
        }
      }

      @media (min-width: $desktop-width) {
        &:nth-of-type(n + 1) {
          width: 433px;
          height: 90px;
          margin: 0;
        }
      }

      &::before {
        @extend %abs-content;
        width: 100%;
        height: 2px;

        top: 53%;
        left: 0;
        background-color: $bg-green;

        @media (min-width: $tablet-width) {
          width: 40%;
          left: 50%;
          transform: translateX(-50%);
        }

        @media (min-width: $desktop-width) {
          width: 400px;
          height: 3px;

          top: 80px;
          left: 18px;

          transform: translateX(0);
        }
      }

      @media (min-width: $tablet-width) {
        &:nth-of-type(n + 2)::before {
          width: 100%;
        }
      }

      @media (min-width: $desktop-width) {
        &:nth-of-type(n + 2)::before {
          width: 400px;
        }
      }

      &::after {
        position: absolute;
        content: 'фортепиано';

        width: 150px;
        height: 30px;

        top: 38px;
        left: 50%;
        transform: translateX(-50%);

        font-size: 22px;
        color: $color-white;
        transition-delay: .1s;
        transition: ease opacity 0.3s;

        @media (min-width: $tablet-width) {
          top: 40px;
          opacity: 0;
        }

        @media (min-width: $desktop-width) {
          font-size: 26px;
          top: 100px;
        }
      }

      &:nth-of-type(2)::after {
        content: 'бас';

        @media (min-width: $desktop-width) {
          top: -40px;
        }
      }

      @media (min-width: $desktop-width) {
        &:nth-of-type(2)::before {
          top: 10px;
        }
      }

      &:nth-of-type(3)::after {
        content: 'ударные';
      }

      &:hover::after {
        opacity: 1;
        transition-delay: .1s;
      }

      .person {
        @extend %rel-block;
        height: 65px;
        margin: 0;

        font-size: 24px;
        font-weight: normal;

        @media (min-width: $desktop-width) {
          height: 90px;
          font-size: 30px;
          padding: 30px 0 0 0;
        }

        &::before,
        &::after {
          @extend %abs-content;
          width: 2px;
          height: 70px;

          top: 25px;
          left: 0;

          opacity: 0;
          transition-delay: .1s;
          background-color: $bg-green;
          transition: ease opacity 0.3s;
        }

        &::before {
          left: 432px;
        }

        &:hover::before,
        &:hover::after {
          opacity: 0;
          transition-delay: .1s;

          @media (min-width: $desktop-width) {
            opacity: 1;
          }
        }
      }
    }
  }
}

.main-img {
  position: absolute;
  display: block;
  margin: 0 auto;
  z-index: -1;
  width: 100%;
}

.texts-list {
  padding: 10px 15px;

  @media (min-width: $tablet-width) {
    margin-top: 50%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1300px;
    margin: 0 auto 100px auto;
    padding: 0;
  }

  .text {
    margin: 0;
    text-indent: 20px;

    @media (min-width: $desktop-width) {
      text-indent: 40px;
    }
  }
}

.index-footer {
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 3px solid $bg-green;

  @media (min-width: $desktop-width) {
    padding: 40px 0;
  }

  .footer-wrapper {
    width: 320px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      width: 768px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 1440px;
      padding: 0 70px;
    }

    .footer-headline {
      display: block;
      width: 220px;
      margin: 0 auto 15px auto;
      font-size: 30px;

      @media (min-width: $desktop-width) {
        width: 260px;
        margin: 0;
        padding-top: 15px;
        font-size: 35px;
      }
    }

    .pages-list {
      margin: 0;

      @media (min-width: $desktop-width) {
        margin-top: 10px;

        .pages-list-item {
          margin: 0;
        }
      }
    }
  }
}
