.repertoire-main {
  width: 320px;
  margin: 0 auto 80px auto;
  padding: 0 25px;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1300px;
    margin-top: 30px;
  }
}

.compositions-list {
  margin: 60px 0;
  padding: 0;
  color: $color-white;

  @media (min-width: $desktop-width) {
    width: 560px;
  }

  .compositions-list-item {
    list-style-type: circle;
    margin-bottom: 20px;

    span {
      display: none;
    }

    .composition-link {
      color: $color-white;
      transition: 0.5s ease;
    }

    &:hover .composition-link {
      color: $bg-green;
    }

    &::-moz-list-number {
      color: $color-white;
    }
  }
}

.iframes-list {
  margin: 0;
  padding: 0;

  iframe {
    width: 270px;
  }

  .iframes-list-item {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    display: block;

    .iframes-list-item {
      margin-bottom: 15px;

      iframe {
        width: 560px;
        height: 315px;
      }
    }
  }
}
