<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>ARIMOYATRIO</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <link href="css/style.css" rel="stylesheet">
  <script src="js/vue.js"></script>
</head>

<body>


  <div id="app" class="main">

    <header class="index-header">
      <a class="header-headline link" :href="arimoya_link">{{ arimoya }}</a>
      <div class="menu" @click="openMenu">
        <div class="hambergerIcon" ref="burger"></div>
      </div>
      <ul class="pages-list list none" ref="pages">
        <li v-for="page in pages" class="pages-list-item">
          <a :href="page.href" class="page-link link" :class="{ 'active-page': page.status }">{{ page.name }}</a>
        </li>
      </ul>
    </header>

    <main class="about-main">
      <ul class="texts-list list">
        <li v-for="text in texts" class="texts-list-item">
          <p class="text">{{ text }}</p>
        </li>
      </ul>
    </main>

  </div>

  <script>
    var app = new Vue({
      el: '#app',

      methods: {
        openMenu: function (event) {
          this.$refs.burger.classList.toggle('open')
          this.$refs.pages.classList.toggle('none')
          this.$refs.pages.classList.toggle('block')
        }
      },

      data: {
        arimoya: 'АРИМОЙЯ ТРИО',
        arimoya_link: 'index.html',

        pages: [
          { name: 'О нас', status: true },
          { href: 'repertoire.html', name: 'РЕПЕРТУАР', status: false },
          { href: 'audio.html', name: 'АУДИО', status: false },
          { href: 'test.html', name: 'КОНТАКТЫ', status: false },
        ],

        texts: [
          'Особенность коллектива заключается в смелости замысла - исполнение концертных программ на основе сплава музыки разных жанров и стилей малым составом фортепианного трио, заключенная в соединении гармонии и ритмов джаза с классикой мировой музыки.',
          'В репертуаре Аримойя трио сюиты-фантазии по произведениям Иоганна Себастьяна Баха, Фредерика Шопена, Петра Ильича Чайковского, авторская обработка Второго фортепианного концерта Сергея Рахманинова, сюиты на темы песен Исаака Дунаевского, произведений Эдуарда Артемьева, обработки произведений Моцарта, Бетховена, Грига, Бородина, Хачатуряна, Массне, Сен-Санса, Морриконе, программы французской и латиноамериканской музыки, и многое другое.',
          'Во время концерта чувства слущателей разнородны. Кто-то  ошелемлен виртуозными  пассажами классики в интерпретации  трио, другие в восторге от узнавания известного произведения в новом звучании. Однако никто не остается равнодушен!',
          'Но, вероятно, самое важное - Аримойя трио не устает эксперементировать и удивлять слушателя непривычными трактовками  музыкальных сокровищ, открывая их заново для многих . Может быть, кто-то после концерта без страха пойдет послушать серьезную музыку в  большие концертные залы, а кто-то захочет сам играть, невзирая на опыт и возраст.',
          'В наш век эклектики слушатель может услышать фрагменты и приемы  музыки различных стилей. Но выбрать наиболее верное и точное из музыкального разнообразия XXI века и переплавить в эмоциональное музыкальное полотно - это наблюдается во всех номерах коллектива. То, что сегодня принято называть драйвом, является неизменным атрибутом концертных выступлений Аримойя трио, при абсолютном отсутствии фамильярности. Концерты можно сравнить с посещением салона нишевой парфюмерии. То есть никакого массмаркета при высоком профессионализме.',
          'Но все-таки, венцом творчества Аримойя трио являются авторские программы коллектива. Композиторский почерк пианиста Александра Миронова заметен в каждой обработке, в каждой интерпретации. Но полноценно и широко раскрыт именно в собственных произведениях. На сегодняшний день в репертуаре ансамбля три авторские сбиты: «Светлые стихиали», «Аримойя. Мечта увидеть» и «Миры просветления».',
          'Состав трио:',
          'Александр Миронов - фортепиано',
          'Екатерина Пшеницына - бас',
          'Пётр Ившин - ударные'
        ]
      }
    })
  </script>

</body>

</html>
